# Ignore local-only folders (kept on disk, not pushed)
data/
.ruff_cache/
example_images/
old_example/
example/
scripts/old/
output/
models/
prediction_results/
utils/old-runs
test/
tests/
test-results/

# Python noise
__pycache__/
*.pyc
.ipynb_checkpoints/

# Env and secrets
.env
*.env

# Ignore specific files
taxa-config.txt
scripts/evaluate_model.py
utils/sync_training_folders.py